<!-- <div class="main">
    <app-navbar></app-navbar>
    <mat-divider></mat-divider>
    <app-navbar-second></app-navbar-second>
    <mat-divider></mat-divider>
    <div class="row p-1">
        <div class="col-lg-9">
            <app-card-caller></app-card-caller>
        </div>
        <div class="col-lg-3">
            <app-tags></app-tags>
        </div>
    </div>
</div> -->
<div class="headLine">
    <span class="headline1">EVENTS & NEWS</span>
    <p></p>
    <span>Learn, Compete & Grow</span>
</div>
<app-home></app-home>